* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    90deg,
    rgba(75, 58, 52, 1) 0%,
    rgba(135, 134, 189, 1) 52%,
    rgba(75, 58, 52, 1) 100%
  );
}

.homepage {
  width: 100vw;
  height: 100vh;
  background: url(../src//assets/main.jpg);
  background-position: center;
  background-size: 100% 100%;
  position: relative;
}
